<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Breast Cancer Prediction Test</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="number" step="any" name="radius_mean" placeholder="radius_mean" required="required" />
      <input type="number" step="any" name="texture_mean" placeholder="texture_mean" required="required" />
      <input type="number" step="any" name="smoothness_mean" placeholder="smoothness_mean" required="required" />
      <input type="number" step="any" name="compactness_mean" placeholder="compactness_mean" required="required" />
      <input type="number" step="any" name="symmetry_mean" placeholder="symmetry_mean" required="required" />
      <input type="number" step="any" name="fractal_dimension_mean" placeholder="fractal_dimension_mean" required="required" />
      <input type="number" step="any" name="radius_se" placeholder="radius_se" required="required" />
      <input type="number" step="any" name="texture_se" placeholder="texture_se" required="required" />
      <input type="number" step="any" name="smoothness_se" placeholder="smoothness_se" required="required" />
      <input type="number" step="any" name="compactness_se" placeholder="compactness_se" required="required" />
      <input type="number" step="any" name="symmetry_se" placeholder="symmetry_se" required="required" />
      <input type="number" step="any" name="fractal_dimension_se" placeholder="fractal_dimension_se" required="required" />
      <input type="number" step="any" name="smoothness_worst" placeholder="smoothness_worst" required="required" />
      <input type="number" step="any" name="symmetry_worst" placeholder="symmetry_worst" required="required" />
      <input type="number" step="any" name="fractal_dimension_worst" placeholder="fractal_dimension_worst" required="required" />
      <br><br>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>

